<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;"> -->
    <title>To Do list</title>
    <link rel="stylesheet" href="/css/styles1.css">

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
