html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #6c63ff 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}
h2 {
  color: #fff;

}


.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
a:hover {
  color: white;
}
#heading {
  background-color: #6c63ff;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #6c63ff;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.but {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #6c63ff;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}


button{
  border-radius: 50%;
  border-color: transparent;
  background-color: #6c63ff;
  color: #fff;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #6c63ff;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#heading1{

   position:fixed;
   right:10px;
   top:5px;
   width:10%;
   height:7%;
   background-color: #6c63ff;
   text-align: center;
}
#headingx{
  width:10%;
  height:7%;
  margin-left:45%;
  margin-bottom: 5%;
  background-color: #6373ff;
   
}